<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.man.mapper.UserInfoMapper">
    <resultMap id="user" type="com.man.entity.UserInfo"/>

    <select id="getIdName" resultMap="user">
        SELECT user_id,user_name FROM user_info
    </select>

    <update id="minusUserScore" parameterType="com.man.entity.UserInfo">
        UPDATE user_info u
        SET u.user_score = u.user_score - #{userScore}
        WHERE u.user_id = #{userId}
    </update>
</mapper>
